.container {
  background-color: #C0C0C0; /* light grey */
  color: #2F4F4F; /* dark grey */
  font-family: 'Arial', sans-serif;
  border: 2px solid #A9A9A9; /* grey */
}

header {
  background-color: #87CEFA; /* light blue */
  padding: 10px;
  text-align: center;
  color: white;
}

h1 {
  color: #4682B4; /* blue */
}

button {
  background-color: #98FB98; /* light green */
  color: #2E8B57; /* green */
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #8B4513; /* brown */
  color: white;
}

.footer {
  background-color: #B0C4DE; /* light steel blue */
  padding: 10px;
  text-align: center;
}
